{
  "tabWidth": 2,
  "singleQuote": true,
  "endOfLine": "auto",
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "prettier/prettier": [
    "error",
    {},
    {
      "usePrettierrc": false
    }
  ]
}
